.about-content {
    .container-small {
        padding-top: 75px;

        @media (max-width: 991px) {
            padding-top: 35px;
        }
    }
}

.about-content__inner {
    padding: 0 20px;

    @media (max-width: 1440px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }
}

.about-content__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -75px;

    @media (max-width: 1675px) {
        margin: 0 -20px;
    }

    @media (max-width: 991px) {
        margin: 0;
    }
}

.about-content__col {
    width: 50%;
    flex: 0 0 50%;
    position: relative;

    @media (max-width: 991px) {
        width: 100%;
        flex: 0 0 100%;
    }
}

.about-content__image {
    @media (min-width: 992px) {
        height: 595px;
        display: block;
        position: relative;
    }

    @media (max-width: 991px) {
        width: 100%;
        height: 575px;
        display: block;
    }

    @media (max-width: 575px) {
        height: 390px;
    }

    img {
        @media (max-width: 991px) {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.about-content__image--small {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 992px) {
        height: 385px;
    }
}

.about-content__content {
    padding: 0 75px;

    @media (max-width: 1440px) {
        padding: 0 20px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }

    .base__subtitle {
        max-width: 520px;
        width: 100%;
        margin-bottom: 60px;

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

    .base__text {
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.about-content__item {
    @media (max-width: 991px) {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:nth-child(2n) {
        .about-content__col--left {
            @media (min-width: 992px) {
                order: 2;
            }

            .about-content__content {
                @media (min-width: 992px) {
                    padding-top: 150px;
                }
            }
        }

        .about-content__col--right {
            @media (min-width: 992px) {
                order: 1;
                top: -40px;
            }
        }
    }
}

.about-content__col--left {
    .about-content__content {
        @media (max-width: 991px) {
            padding: 0 48px;
        }

        @media (max-width: 575px) {
            padding: 0 24px;
        }
    }
}

.about-content__col--desktop {
    @media (max-width: 991px) {
        display: none;
    }
}

.about-content__col--mobile {
    @media (min-width: 992px) {
        display: none;
    }

    .about-content__content {
        margin-top: 48px;
        padding: 0 48px;

        @media (max-width: 575px) {
            padding: 0 24px;
        }
    }
}