.about-header {
    .container-base {
        padding-bottom: 75px;

        @media (max-width: 991px) {
            padding-bottom: 35px;
        }
    }
}

.about-header__content {
    width: 100%;
    height: 928px;
    display: flex;
    align-items: flex-end;
    position: relative;

    @media (max-width: 1440px) {
        height: 750px;
    }

    @media (max-width: 1024px) {
        height: 500px;
    }

    @media (max-width: 991px) {
        height: auto;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        @media (max-width: 991px) {
            display: none;
        }
    }
}

.about-header__text {
    padding: 0 20px;
    padding-bottom: 190px;

    @media (max-width: 1440px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 991px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: 1024px) {
        padding-bottom: 40px;
    }

    @media (max-width: 991px) {
        padding: 48px
    }

    @media (max-width: 575px) {
        padding: 0 24px;
        padding-top: 48px;
    }

    h1 {
        color: $color-white;

        @media (max-width: 991px) {
            color: $color-black;
        }
    }
}