.banner {
    .container-base {
        padding-top: 90px;
        padding-bottom: 90px;

        @media (max-width: 991px) {
            padding-top: 45px;
            padding-bottom: 0;
        }
    }
}

.banner__content {
    padding: 77px 0;

    @media (max-width: 991px) {
        padding: 0;
        background-color: transparent !important;

    }
}

.banner__inner {

    padding: 0 20px;

    @media (max-width: 1440px) {
        padding: 0 60px;
    }

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }

    @media (max-width: 991px) {
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }

    h2 {
        margin-right: 90px;
        color: $color-white;

        @media (max-width: 991px) {
            margin-right: 0;
            margin-bottom: 32px;
            color: $color-black;
        }
    }

    p {
        max-width: 745px;
        width: 100%;
        color: $color-white;

        @media (max-width: 991px) {
            color: $color-black;
        }
    }
}