.contact {
    .container-smaller {
        padding-top: 50px;
    }
}

.contact__content {
    padding: 0 20px;

    @media (max-width: 1440px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0 48px;
    }
    @media (max-width: 575px) {
        padding: 0 24px;
    }
}

.contact__item {
    position: relative;
    margin-bottom: 65px;

    &:last-child {
        margin-bottom: 0;
    }
}

.contact__item--border {
    padding-bottom: 41px;
    margin-bottom: 65px;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        width: 235px;
        background-color: $color-black-text;
    }
}

.contact__text {
    .base__subtitle {
        margin-bottom: 50px;
    }

    p,
    .base__link {
        font-size: 22px;
        line-height: 23px;
        margin-bottom: 24px;

        @media (max-width: 991px) {
            font-size: 18px;
            line-height: 19px;
        }

        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 17px;
        }
    }

    p {
        color: inherit;
        text-decoration: none;
    }
}

.contact__table {
    margin-bottom: 24px;

    td {
        font-size: 22px;
        line-height: 23px;

        @media (max-width: 991px) {
            font-size: 18px;
            line-height: 19px;
        }

        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 17px;
        }

        &:first-child {
            display: inline-block;
            margin-right: 100px;

            @media (max-width: 991px) {
                margin-right: 75px;
            }
    
            @media (max-width: 575px) {
                margin-right: 50px;
            }
        }
    }
}

.contact__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 45px;

    @media (max-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1160px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 710px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    @media (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
}

.contact__person {
    @media (max-width: 575px) {
        text-align: center;
    }
}

.contact__inner {
    margin-top: 90px;
}

.contact__info {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        font-size: 28px;
        line-height: 29px;
        margin-bottom: 35px;

        @media (max-width: 991px) {
            font-size: 22px;
            line-height: 23px;
        }

        @media (max-width: 575px) {
            text-align: center;
        }
    }
}