.detail-variant__inner {
    padding: 0 20px;

    @media (max-width: 1440px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }
}

.detail-variant__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    @media (min-width: 992px) {
        justify-content: space-between;
    }
}

.detail-variant__col--left {
    @media (max-width: 991px) {
        width: 100%;
        flex: 0 0 100%;
    }

    @media (min-width: 992px) {
        width: 37.3937677%; //660px
        flex: 0 0 37.3937677%;
    }
}

.detail-variant__col--right {
    @media (max-width: 991px) {
        width: 100%;
        flex: 0 0 100%;
        display: none;
    }

    @media (min-width: 992px) {
        width: 58.3569405%; //1030px
        flex: 0 0 58.3569405%;
    }
}

.detail-variant__content {
    padding: 0 20px;
    height: 100%;
}

.detail-variant__img {
    width: 100%;
    position: relative;
    display: block;

    @media (min-width: 992px) {
        height: 100%;
        min-height: 745px;
    }

    @media (max-width: 991px) {
        height: 575px;
    }

    @media (max-width: 575px) {
        height: 390px;
    }

    img {
        width: 100%;
        height: auto;

        @media (max-width: 991px) {
            height: 100%;
            object-fit: cover;
        }

        @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.detail-variant__img--mobile {
    margin-bottom: 24px;

    @media (min-width: 991px) {
        display: none;
    }
}

.detail-variant__info {
    margin-bottom: 50px;

    @media (max-width: 991px) {
        margin-bottom: 24px;
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }

    .base__subtitle {
        margin-bottom: 35px;

        @media (max-width: 991px) {
            margin-bottom: 32px;
        }
    }
}

.detail-variant__icon {
    margin-bottom: 60px;

    @media (max-width: 991px) {
        text-align: center;
        margin-bottom: 24px;
    }
}