.detail-gallery {
    margin-top: 35px;

    @media (max-width: 991px) {
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }
}

.detail-gallery__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 32px;
    grid-auto-rows: minmax(min-content, max-content);

    @media (max-width: 1025px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 991px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 575px) {
        grid-gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.detail-gallery__item {
    @media (max-width: 575px) {
        height: 159px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}