.detail-nav {
    width: 100%;
    margin-bottom: 32px;

    @media (max-width: 991px) {
        width: auto;
    }

    @media (min-width: 992px) {
        max-width: 740px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
    }
}

.detail-nav__inner {
    @media (min-width: 992px) {
        padding-left: 25px;
        padding-bottom: 25px;

    }

    @media (max-width: 991px) {
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }
}

.detail-nav__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;

    @media (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.detail-nav__item {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background: $color-white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 0 2px $color-gray-input;

    @media (min-width: 992px) {
        box-shadow: none;
    }

    span {
        padding: 0 34px;
        font-size: 21px;

        @media (max-width: 991px) {
            font-size: 16px;
            padding: 0 12px;
        }
    }

    &.is-active,
    &:hover {
        background: $linear-gradient-v1;
        box-shadow: none !important;

        span {
            color: $color-white;
        }
    }
}

.detail-nav--variant {
    margin-bottom: 0;

    @media (max-width: 991px) {
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }

    @media (min-width: 992px) {
        max-width: 350px;
        width: 100%;
        position: relative;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
    }

    .detail-nav__item {
        @media (min-width: 992px) {
            box-shadow: 0 0 0 2px $color-gray-input;
        }
    }

    .detail-nav__inner {
        padding: 0;
    }

    .detail-nav__grid {
        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 25px;
        }
    }
}