.detail {
    .container-big {
        padding-top: 15px;
    }
}

.detail__content {
    position: relative;

    @media (min-width: 992px) {
        height: 890px;
    }
}

.detail__inner {
    padding: 0 20px;

    @media (max-width: 1440px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }
}

.detail__background {
    display: block;

    @media (max-width: 991px) {
        width: 100%;
        height: 575px;
        object-fit: cover;
        margin: 24px 0;
    }

    @media (max-width: 575px) {
        height: 390px;
    }

    @media (min-width: 992px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.detail__info {
    @media (min-width: 992px) {
        max-width: calc(740px - 120px);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-white;
        padding-right: 120px;
        padding-bottom: 76px;
    }

    @media (max-width: 991px) {
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }

    h1 {
        margin-bottom: 32px;
    }
}

.detail__icon {
    @media (max-width: 991px) {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }

    @media (min-width: 992px) {
        background-color: $color-white;
        position: absolute;
        right: 0;
        bottom: 0;
        padding-top: 42px;
        padding-left: 42px;
        margin-bottom: 0;
    }
}