.footer {
    padding-top: 114px;
    padding-left: 190px;

    @media (max-width: 1440px) {
        padding-left: 0;
    }

    @media (max-width: 768px) {
        padding-top: 48px;
    }

    .row-flex {
        margin: 0 -12px;

        @media (max-width: 991px) {
            margin: 0;
        }
    }

    &__column {
        width: 50%;
        flex: 0 0 50%;

        @media (max-width: 768px) {
            width: 100%;
            flex: 0 0 100%;
        }
    }

    &__inner {
        padding: 0 12px;

        @media (max-width: 991px) {
            padding: 0 48px;
        }

        @media (max-width: 575px) {
            padding: 0 24px;
        }
    }

    &__header {
        margin-bottom: 16px;

        h2 {
            margin-bottom: 24px;
            font-family: $font-secondary;
        }

        span {
            font-size: $font-size-small;
            color: $color-darkest;
        }
    }

    &__form {
        max-width: 315px;
        width: 100%;
        margin-bottom: 52px;

        @media (max-width: 768px) {
            margin-bottom: 48px;
        }

        input {
            width: calc(100% - 42px);
            height: 64px;
            outline: none;
            border: 1px solid $color-black;
            padding-left: 30px;
            padding-right: 10px;
            color: $color-black;
            font-size: $font-size-base;

            &::placeholder {
                color: $color-black;
            }
        }
    }

    &__adress {

        p {
            font-size: $font-size-footer;
            line-height: $line-height-footer;
            color: $color-black;
        }

        a {
            color: $color-black;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__social {
        padding-top: 130px;
        margin-bottom: 67px;

        @media (max-width: 768px) {
            padding-top: 48px;
            margin-bottom: 48px;
        }

        li {
            display: inline-block;
            padding: 0 4px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .icon {
            width: 38px;
            height: 38px;
            border-radius: 100%;
            background-color: $color-black;
            display: block;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;

            &--facebook {
                background-image: url("../../images/icon/facebook.png");
                background-size: 13px auto;
            }

            &--instagram {
                background-image: url("../../images/icon/instagram.png");
                background-size: 19px auto;
            }

            &--vimeo {
                background-image: url("../../images/icon/vimeo.png");
                background-size: 19px auto;
            }
        }
    }

    &__info {

        p {
            position: relative;
            display: inline-block;
            font-size: $font-size-footer;
            padding-bottom: 16px;
            margin-bottom: 16px;
            font-family: $font-secondary;
            font-weight: bold;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: $color-black;
            }
        }

        ul {

            li {
                a {
                    color: $color-black;
                    font-size: $font-size-small;
                    line-height: 19px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__copyright {
        margin-top: 40px;

        @media (max-width: 991px) {
            text-align: left;
            padding-left: 48px;
        }

        @media (max-width: 575px) {
            padding-left: 24px;
        }

        p {
            color: $color-black;
            font-size: $font-size-copyright;
        }
    }
}

.footer--small {
    padding: 0;

    .container-smaller,
    .container-small {
        padding-top: 90px;
        padding-bottom: 120px;
    }

    .row-flex {
        padding: 0 20px;
        margin: 0;

        @media (max-width: 1440px) {
            padding: 0 60px;
        }

        @media (max-width: 991px) {
            padding: 0 20px;
        }

        @media (max-width: 767px) {
            display: block;
        }
    }

    .footer__inner {
        padding: 0;
    }

    .footer__copyright {
        margin: 0;
    }

    .footer__social {
        margin-bottom: 12px;
    }

    .footer__form {
        margin-bottom: 0;
    }

    .container-big {
        padding-top: 90px;
        padding-bottom: 120px;
    }
}

.footer__item--left {
    margin-right: 50px;

    @media (max-width: 767px) {
        margin-right: 0;
    }
}

.footer--desktop {
    @media (max-width: 991px) {
        display: none;
    }
}

.footer--mobile {
    padding-top: 80px;
    padding-bottom: 100px;
    
    @media (min-width: 992px) {
        display: none;
    }

    .footer__form {
        @media (max-width: 575px) {
            max-width: 100%;
        }
    }

    .footer__header {
        margin-bottom: 24px;
    }

    .footer__header h2 {
        margin-bottom: 8px;
    }

    .footer__form input {
        width: calc(100% - 44px);
    }

    .footer__info {
        p {
            display: none;
        }

        ul {
            position: relative;
            padding-top: 16px;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color-black;
            }

        }
    }
}

.footer--purple {
    margin-top: 48px;
    background: linear-gradient(135deg, #ec0088 25%, #97298c 75%);

    .footer__info {
        ul {
            &:before {
                background-color: $color-white;
            }

        }
    }

    .footer__form input {
        border: 2px solid $color-white;
        color: $color-white;
        background-color: transparent;

        &::placeholder {
            color: $color-white;
        }
    }

    .footer__header h2,
    .footer__header span,
    .footer__adress p,
    .footer__adress a,
    .footer__info ul li a,
    .footer__copyright p {
        color: $color-white;
    }

    .footer__social {
        .icon {
            background-color: $color-white;

            &--facebook {
                background-image: url("../../images/icon/facebook-pink.png");
            }

            &--instagram {
                background-image: url("../../images/icon/instagram-pink.png");
            }

            &--vimeo {
                background-image: url("../../images/icon/vimeo-pink.png");
            }
        }
    }
}