.header {

    @media (min-width: 992px) {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: $color-white;
        z-index: 1;
    }

    &.header--scrolled {
        .row-flex {
            @media (min-width: 992px) {
                padding: 20px 52px;
            }
        }
    }

    .row-flex {
        justify-content: space-between;
        padding: 50px 52px;
        transition: all 0.3s;

        @media (max-width: 1200px) {
            padding: 24px;
        }

        @media (max-width: 991px) {
            align-items: center;
            padding: 0 48px;
            height: 100px;
        }

        @media (max-width: 575px) {
            padding: 0 24px;
        }
    }

    &__list {
        padding-top: 34px;

        @media (max-width: 991px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $color-white;
            z-index: 90;
            padding-top: 100px;
            transform: translateX(-100%);
            transition: all 0.3s;

            &.is-open {
                transform: translateX(0);
            }
        }

        li {
            display: inline-block;
            padding: 0 14px;

            @media (max-width: 1200px) {
                padding: 0 8px;
            }

            @media (max-width: 991px) {
                text-align: center;
                display: block;
                padding: 0;
                margin-bottom: 16px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            a {
                font-size: 17px;
                text-decoration: none;
                color: $color-nav-link;
                font-family: $font-primary;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__logo {
        max-height: 51px;

        @media (max-width: 991px) {
            max-height: 33px;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;

            img {
                max-width: 340px;
                width: 100%;
                height: auto;

                @media (max-width: 991px) {
                    max-width: 150px;
                }
            }
        }
    }
}

.header-mobile {
    z-index: 100;
    position: relative;

    @media (min-width: 992px) {
        display: none;
    }

    &.is-active {
        .header-mobile__lines {
            span {
                position: relative;
                &:first-child {
                    top: 0;
                    left: 4px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: scale(0);
                }

                &:last-child {
                    top: 0;
                    left: 4px;
                    bottom: auto;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__inner {
        padding: 86px 24px 24px 24px;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100% - 218px);
        position: relative;
    }

    &__button {
        width: 24px;
        height: 24px;
        position: relative;
    }

    &__lines {
        height: 19px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: block;
            height: 2px;
            width: 100%;
            border-radius: 10px;
            background-color: #000000;

            &:first-child {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }

            &:nth-child(2) {
                transition: transform 0.2s ease-in-out;
            }

            &:last-child {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }
    }

    &__content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 199;
        transform: translateX(-100%);
        transition: transform .3s;

        @media (max-width: 991px) {
            &.is-open {
                transform: translateX(0);
            }
        }
    }
}

.header--right {
    .container-base {
        max-width: 1765px;
    }

    .row-flex {
        @media (min-width: 992px) {
            justify-content: flex-end;
            padding-left: 20px;
            padding-right: 20px;
        }

        .header__list {
            @media (min-width: 992px) {
                margin-right: 64px;
            }

            li {
                @media (min-width: 992px) {
                    padding: 0 13px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            a {
                @media (min-width: 992px) {
                    font-size: 16px;
                }
            }
        }
    }
}