.info {
    margin-bottom: 28px;

    @media (max-width: 991px) {
        overflow: hidden;
    }

    &__column {

        @media (min-width: 992px) {
            flex: 1;
        }

        &--left {
            width: 59.21875%;
            flex: 0 0 59.21875%;

            @media (max-width: 991px) {
                width: 100%;
                flex: 0 0 100%;
                order: 2;
            }
        }

        &--right {
            width: 40.78125%;
            flex: 0 0 40.78125%;

            @media (min-width: 992px) {
                position: relative;
            }

            @media (max-width: 991px) {
                width: 100%;
                flex: 0 0 100%;
                order: 1;
                margin-bottom: 8px;
            }
        }
    }

    &__content {
        @media (min-width: 992px) {
            height: 100%;
        } 
        
        &--left {
            padding-right: 28px;
            padding-left: 28px;

            @media (max-width: 991px) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &--right {
            background: $linear-gradient-v2;
            padding: 0 24px;
            padding-bottom: 48px;

            @media (min-width: 992px) {
                //height: 1300px;
            }

            @media (max-width: 991px) {
                padding: 0 48px;
                padding-bottom: 90px;
            }

            @media (max-width: 575px) {
                padding: 0 24px;
                padding-bottom: 90px;
            }

            .info__text {
                max-width: 500px;
                width: 100%;
                margin: 0 auto;
                padding: 0;
                text-align: left;

                @media (max-width: 991px) {
                    text-align: left;
                    max-width: 100%;
                }
            }
        }
    }

    &__item {
        height: 100%;
    }

    &__text {
        padding: 28px;
        margin-left: auto;
        margin-right: auto;
        text-align: right;

        h2 {
            color: $color-white;
            margin-bottom: 72px;
            font-family: $font-secondary;

            @media (max-width: 991px) {
                margin-bottom: 40px;
                font-size: $font-size-big;
                line-height: $line-height-big;
            }
        }

        &--left {
            padding-right: 138px;
            height: calc(720px - 56px);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            position: relative;

            @media (max-width: 991px) {
                height: calc(550px - 56px);
                padding-right: 48px;
            }

            @media (max-width: 575px) {
                padding-right: 24px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
        }
    }

    &__list {
        text-align: center;
        padding-top: 225px;
        margin-bottom: 116px;

        @media (max-width: 991px) {
            padding-top: 90px;
            margin-bottom: 48px;
            text-align: center;
        }

        li {
            display: inline-block;
            padding: 0 6px;
            margin-bottom: 24px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            svg {
                @media (max-width: 991px) {
                    width: 120px;
                    height: 120px;
                }

                @media (max-width: 575px) {
                    width: 80px;
                    height: 80px;
                }

                image {
                    @media (max-width: 991px) {
                        width: 120px;
                        height: 120px;
                    }

                    @media (max-width: 575px) {
                        width: 80px;
                        height: 80px;
                    }
                }
            }

            span {
                display: block;
                text-align: center;
                font-size: $font-size-base;
                color: $color-white;
                margin-top: 16px;

                @media (max-width: 991px) {
                    font-size: $font-size-small;
                }

                @media (max-width: 991px) {
                    font-size: 11px;
                }
            }
        }
    }
}