.intro {
    margin-bottom: 28px;

    @media (max-width: 991px) {
        margin-bottom: 0;
    }

    @media (max-width: 400px) {
        margin-bottom: 0;
        height: calc(100vh - 100px);
    }

    h1 {
        color: $color-white;
        margin-bottom: 72px;

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    .container-small {
        height: 100%;
    }

    .container-base {
        height: 927px;

        @media (max-width: 991px)  {
            height: 575px;
        }

        @media (max-width: 400px) {
            height: 100%;
        }
    }

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;

        @media (max-width: 400px) {
            top: auto;
            bottom: 0;
        }
    }

    &__content {
        padding: 0 24px;
        height: calc(100% - 200px);
        display: flex;
        align-items: flex-end;

        @media (max-width: 991px) {
            height: 100%;
            align-items: flex-end;
            text-align: left;
            padding: 0 48px;
        }

        @media (max-width: 575px) {
            padding: 0 24px;
        }
    }

    &__text {
        @media (max-width: 991px) {
            padding-bottom: 140px;
        }
    }
}