.product-list {
    h1 {
        font-size: $font-size-title;
        line-height: $line-height-title;
        max-width: 360px;
        width: 100%;
        margin-bottom: 120px;

        @media (max-width: 991px) {
            font-size: $font-size-title-small;
            line-height: $line-height-title-small;
            margin-bottom: 60px;
        }

        @media (max-width: 575px) {
            max-width: 100%;
            margin-bottom: 48px;
        }
    }

    .container-smaller {
        padding-top: 50px;
        padding-bottom: 50px;

        @media (max-width: 991px) {
            padding-top: 45px;
            padding-bottom: 45px;
        }
    }
}

.product-list__inner {
    padding: 0 20px;

    @media (max-width: 1440px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }
}

.product-list__content {
    .row-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 13px;
        grid-auto-rows: minmax(min-content, max-content);
    }
}

.product-list__header {
    @media (max-width: 991px) {
        padding: 0 48px;
    }

    @media (max-width: 575px) {
        padding: 0 24px;
    }
}

.product-list__item {
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: opacity 0.3s;
    }

    &:hover {
        @media (min-width: 992px) {
            &:before {
                opacity: 1;
            }
        }
    }

    &--blue {
        &:before {
            background-color: $color-blue;
        }
    }

    &--orange {
        &:before {
            background-color: $color-orange;
        }
    }

    &--green {
        &:before {
            background-color: $color-green;
        }
    }

    &--purple {
        &:before {
            background-color: $color-purple;
        }
    }

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.product-list__text {
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    align-items: center;

    h3 {
        padding-left: 45px;
        padding-right: 45px;
        font-size: $font-size-big;
        line-height: $line-height-big;
        color: $color-white;

        @media (max-width: 767px) {
            padding: 0 15px;
            font-size: $font-size-base;
            line-height: $line-height-base;
            text-align: center;
        }
    }
}

.product-list__item--default {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;

        @media (min-width: 992px) {
            background-color: $color-black;
        }
    }

    .product-list__text {
        height: auto;
        display: block;
        top: auto;
        bottom: 0;
        opacity: background-color 0.3s;

        @media (min-width: 992px) {
            background-color: rgba($color-black, 0.5);
        }

        span {
            padding: 24px 30px;
            font-size: 22px;
            line-height: 23px;
            display: block;

            @media (max-width: 991px) {
                font-size: 20px;
            }

            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
    }

    &:hover {
        &:before {
            @media (min-width: 992) {
                opacity: 1;
            }
        }
    }
}

.product-list__item--bg-blue {
    &:before {
        @media (max-width: 991px) {
            background-color: $color-blue;
        }
    }
    .product-list__text {
        @media (max-width: 991px) {
            background-color: rgba($color-blue, 0.7);
        }
    }
}

.product-list__item--bg-orange {
    &:before {
        @media (max-width: 991px) {
            background-color: $color-orange;
        }
    }
    .product-list__text {
        @media (max-width: 991px) {
            background-color: rgba($color-orange, 0.7);
        }
    }
}

.product-list__item--bg-green {
    &:before {
        @media (max-width: 991px) {
            background-color: $color-green;
        }
    }
    .product-list__text {
        @media (max-width: 991px) {
            background-color: rgba($color-green, 0.7);
        }
    }
}

.product-list__item--bg-purple {
    &:before {
        @media (max-width: 991px) {
            background-color: $color-purple;
        }
    }
    .product-list__text {
        @media (max-width: 991px) {
            background-color: rgba($color-purple, 0.7);
        }
    }
}

.product-list__content--desktop {
    @media (max-width: 991px) {
        display: none;
    }
}

.product-list__content--mobile {
    @media (min-width: 992px) {
        display: none;
    }

    @media (max-width: 991px) {
        padding-left: 48px;
    }

    @media (max-width: 575px) {
        padding-left: 24px;
    }
}