.slider {

    .slick-slide {
        margin: 0 4px;
    }
  
    .slick-list {
        margin: 0 -4px;
    }

    @media (min-width: 992px) {
        display: none;
    }

    .slider__item {
        height: 575px;

        @media (max-width: 575px) {
            height: 300px;
        }
    }

    .product-list__item {
        height: 575px;

        @media (max-width: 575px) {
            height: 300px;
        }
    }

    .product-list__text {
        h3 {
            text-align: left;

            @media (max-width: 991px) {
                font-size: $font-size-big;
                line-height: $line-height-big;
                padding-left: 70px;
            }
        }
    }
}

.slider__inner {
    overflow: hidden;
}

.slider--video {
    margin-top: 8px;
}

.slider--image {
    margin-bottom: 8px;

    .slider__item {
        height: auto;

        @media (max-width: 575px) {
            height: auto;
        }
    }
}