.video {
    margin-bottom: 28px;

    @media (max-width: 991px) {
        margin-bottom: 8px;
    }

    .row-flex {
        height: 722px;

        @media (max-width: 1440px) {
            height: 480px;
        }

        @media (max-width: 991px) {
            height: auto;
        }
    }

    &__column {
        height: 100%;

        &--left {
            width: 36.71875%;
            flex: 0 0 36.71875%;

            @media (max-width: 991px) {
                width: 100%;
                flex: 0 0 100%;
                margin-bottom: 8px;
            }
        }

        &--right {
            width: 63.28125%;
            flex: 0 0 63.28125%;

            @media (max-width: 991px) {
                width: 100%;
                flex: 0 0 100%;
            }
        }
    }

    &__content {
        height: 100%;

        &--left {
            background: $linear-gradient-v1;
            display: flex;
            align-items: center;
        }

        &--right {
            padding-right: 28px;
            padding-left: 28px;

            @media (max-width: 991px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__item {
        height: 100%;
        position: relative;

        @media (max-width: 991px) {
            height: 575px;
        }

        @media (max-width: 575px) {
            height: 375px;
        }
    }

    &__text {
        max-width: 400px;
        width: 100%;
        padding: 28px;
        margin-left: auto;
        margin-right: auto;
        text-align: right;

        @media (max-width: 991px) {
            text-align: right;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-right: 70px;
        }

        h2 {
            color: $color-white;
            margin-bottom: 72px;

            @media (max-width: 991px) {
                font-size: $font-size-subtitle;
                line-height: $line-height-subtitle;
                margin-bottom: 24px;
            }

            @media (max-width: 575px) {
                font-size: 25px;
                line-height: 26px;
            }
        }
    }
}

.video {
    width: 100%;
    position: relative;

    iframe,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
}

.video__item {
    &.video-play {
        .video__item__background {
            display: none;
        }

        .video__button {
            display: none;
        }
    }
}

.video__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;

    &:hover {
        .video__button__inner {
            opacity: 1;
        }
    }
}

.video__button__item {
    width: 85px;
    height: 85px;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
}

.video__button__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: $color-white;
    border-radius: 100%;
    transition: all 0.2s;
    opacity: 0.5;

    svg {
        position: absolute;
        height: 50px;
        width: auto;
        top: 50%;
        left: calc(50% + 3px);
        transform: translate(-50%, -50%);
    }
}