$color-darkest: #1c1a08;
$color-dark: #202020;
$color-white: #ffffff;
$color-black: #000000;
$color-black-text: #060606;
$color-black-title: #040404;
$color-blue: #0076c0;
$color-orange: #f97907;
$color-green: #30ad60;
$color-purple: #a81c78;
$color-gray-input: #bfbfbf;

$linear-gradient-v1: linear-gradient(135deg, #e81c64 0%,#8e2b8c 100%);
$linear-gradient-v2: linear-gradient(-45deg, #e81c64 0%,#8e2b8c 100%);

$color-nav-link: $color-dark;
$color-header-white: $color-white;