$font-primary: 'Arial', sans-serif;
$font-secondary: 'Helvetica', sans-serif;

$font-size-copyright: 10px;
$font-size-small: 14px;
$font-size-base: 18px;
$font-size-base-big: 20px;
$font-size-footer: 19px;
$font-size-big: 28px;
$font-size-subtitle: 40px;
$font-size-title-small: 44px;
$font-size-title: 57px;
$font-size-main-header: 68px;

$line-height-base: 19px;
$line-height-footer: 26px;
$line-height-big: 29px;
$line-height-subtitle: 41px;
$line-height-title-small: 45px;
$line-height-title: 58px;
$line-height-main-header-small: 77px;
$line-height-main-header: 88px;