<header class="base-section header">
    <div class="container">
        <div class="row-flex">
            <div class="header__list">
                <ul>
                    <li><a href="#">Produkty</a></li>
                    <li><a href="#">O nás</a></li>
                    <li><a href="#">Aktuality</a></li>
                    <li><a href="#">Ke stažení</a></li>
                    <li><a href="#">Pomocné aplikace</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="header__logo">
                <a href="#">
                    <img src="../images/logo.png" width="340" height="51" alt="header-logo">
                </a>
            </div>
        </div>
    </div>
</header>