html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;

    @media (min-width: 992px) {
        padding-top: 154px;
    }

    &.is-locked {
        overflow: hidden;
    }
}

.base-section {
    .container-base {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .container-big {
        max-width: 1765px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .container-small {
        max-width: 1546px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .container-smaller {
        max-width: 1475px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }


    .row-flex {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: $font-size-main-header;
        line-height: $line-height-main-header;

        @media (max-width: 991px) {
            font-size: $font-size-title;
            line-height: $line-height-title;
        }
    }

    h2,
    .base__title {
        font-size: $font-size-title;
        line-height: $line-height-title;

        @media (max-width: 991px) {
            font-size: $font-size-title-small;
            line-height: $line-height-title-small;
        }
    }

    .base__subtitle {
        font-size: $font-size-subtitle;
        line-height: $line-height-subtitle;

        @media (max-width: 991px) {
            font-size: $font-size-big;
            line-height: $line-height-big;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: $font-primary;
        color: $color-black-title;
    }

    p {
        margin: 0;
        color: $color-black-text;
    }

    .base__text {
        font-size: $font-size-base-big;
        line-height: $line-height-big;
    }

    .base__link {
        color: $color-black-text;
        display: block;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .button {
        padding: 20px 75px 22px 30px;
        border: 1px solid $color-white;
        display: inline-block;
        font-size: $font-size-base;
        text-decoration: none;
        transition: background-color 0.3s, border 0.3s;
        text-align: left;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            width: 16px;
            height: 19px;
            display: block;
            background-size: 16px auto;
            background-repeat: no-repeat;
            background-position: center center;
            transition: opacity 0.3s;

            @media (max-width: 991px) {
                right: 0;
                width: 14px;
                height: 17px;
                background-size: 14px auto;
            }
        }

        &:before,
        &:after {
            background-image: url("../../images/icon/arrow-right.png");
        }

        @media (max-width: 991px) {
            padding: 0;
            padding-right: 35px;
            border: none;
        } 

        &:hover {
            @media (min-width: 992px) {
                background-color: $color-black;
                border-color: $color-black;
            }
        }

        span {
            color: $color-white;
            font-family: $font-primary;
            position: relative;
            top: 1px;
        }
    }

    .button--black {
        border: none;

        @media (min-width: 992px) {
            border: 1px solid $color-black;
        }

        &:before {
            background-image: url("../../images/icon/arrow-right-black.png");
            opacity: 1;
        }

        &:after {
            background-image: url("../../images/icon/arrow-right.png");
            opacity: 0;
        }

        &:hover {
            @media (min-width: 992px) {
                background-color: $color-black;

                &:before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            span {
                color: $color-white;
            }
        }

        span {
            color: $color-black;
            font-family: $font-primary;
        }
    }
}