.md-block {
    @media (min-width: 992px) {
        display: block;
    }
}

.d-sm-none {
    @media (max-width: 991px) {
        display: none !important;
    }
}

.bg-blue {
    background-color: $color-blue;
}

.bg-green {
    background-color: $color-green;
}

.bg-orange {
    background-color: $color-orange;
}

.bg-purple {
    background-color: $color-purple;
}

.c-black {
    color: $color-black !important;
}

.c-white {
    color: $color-white !important;
}